### WEEK 7 Homework
7.1.1
SELECT
	ModelYear, Make, Model
from EVRegistry

7.1.2
SELECT DISTINCT Model as ElectricVehicleType
	from EVRegistry

7.1.3
SELECT *
from EVRegistry
where ElectricVehicleType = 'Battery Electric Vehicle (BEV)'

7.1.4
SELECT Make, Model
from EVRegistry
where BaseMSRP >= 20000 <= 35000

7.2.1
SELECT *
From EVRegistry
WHERE City IS NULL

7.2.2
SELECT Make, Model, ElectricVehicleType
From EVRegistry
WHERE VIN LIKE '%3E1EA1J'

7.2.3
select ModelYear, Make, Model, ElectricVehicleType, ElectricRange
FROM EVRegistry
Where Make = 'TESLA' OR 'CHEVROLET'
ORDER BY Make, ModelYear DESC

7.2.4
SELECT StationID, Count(*) as numUses
FROM EVCharging
GROUP BY StationID 
ORDER BY COUNT(*) DESC
Limit 5

7.2.5
SELECT userId, MIN(chargeTimeHrs) as 'minTime', MAX(chargeTimeHrs) as 'maxTime'
FROM EVCharging
WHERE chargeTimeHrs > 0.5
GROUP BY userId
ORDER BY 2,3